.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 25px;
    background-color: rgba(247, 247, 247, 0.959);
    border-radius: 10px;
    z-index: 1;
    /* border: 1px solid rgb(219, 219, 219); */
    box-shadow: 5px 5px 20px 0px;
    max-height: 75vh;
    overflow-y: auto;
    width: 75%;
    max-width: 400px;
}

#loginPage button {
    background-color: blue;
    color: white;
    margin: 5px 0;
}

#loginPage input {
    width: 95%;
    height: 30px;
    margin: 5px auto;
    border-radius: 10px;
    border: 0.5px solid black;
    padding: 0 5px;
}

#registernav {
    display: inline;
    float: right;
    margin: 5px 0;
}