name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    
env:
  DATABASE_URL: "file:./dev.db"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setting env file
      run: |
        echo "${{ secrets.backend }}" > .env
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-backend:$(date +%s)
      
  build-frontend:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image for frontend
      run: docker build ./frontend --file frontend/Dockerfile --tag my-frontend:$(date +%s)
